<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISI4WEBSHOP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="Public\css\styles.css">
</head>
<body>
    <header>
        <h1>Bienvenue à ISI4WEBSHOP</h1>
    </header>

<nav>
    <div>
        <a href="#">Accueil</a>
        <div class="dropdown">
            <a href="#" class="dropbtn">Produits</a>
            <div class="dropdown-content">
                <a href="#">Boissons</a><br>
                <a href="#">Biscuits</a><br>
                <a href="#">Fruits Secs </a>
            </div>
        </div>
    </div>
    <div class="user-actions">
        <a href="#">S'inscrire</a>
        <a href="#">Se connecter</a>
        <button class="cart">🛒</button>
    </div>
</nav>


    <section>
        {% block body %}{% endblock %}
    </section>

<!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Font Awesome icons -->
<script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>


    <footer>
        <p>&copy; {{ 'now'|date('Y') }} ISI4WEBSHOP by F&N. All rights reserved.</p>
    </footer>
</body>
</html>