{% extends 'base.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block body %}
    <div class="container mt-5">
        <table class="table">
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            <div class="image-container">
                                <img src="Public/css/Images/{{ product.image }}" alt="{{ product.name }}">
                            </div>
                        </td>
                        <td>
                            <div><h2>{{ product.name }}</h2></div><br>
                            <div>{{ product.description }}</div><br>
                            <div>Price: {{ product.price }} €</div>
                        </td>
                        <td>
                            <button type="button" class="add-to-cart-btn">
                                <i class="fas fa-cart-plus cart-icon"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

