{% extends 'base.twig' %}

{% block title %}Sign In{% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Se connecter</h2>
                        <form action="login_submit.php" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Adresse email:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                                <div class="text-center">
                                <button type="submit" class="btn btn-primary">Connexion</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
