{% extends 'base.twig' %}

{% block title %}Your Cart{% endblock %}

{% block body %}
    <section class="container mt-5">
        <h2>Votre Panier:</h2>

        {% if cartItems is empty %}
            <p>Votre panier est vide.</p>
        {% else %}
            {% for item in cartItems %} <!-- assuming we have an cartItems table -->
                <div class="cart-item">
                    <h3>{{ item.product.name }}</h3>
                    <p>Description: {{ item.product.description }}</p>
                    <p>Price: ${{ item.product.price }}</p>
                    <p>Quantity: {{ item.quantity }}</p>
                    <p>Total: ${{ item.quantity * item.product.price }}</p>
                </div>
            {% endfor %}

            <p>Total: ${{ totalAmount }}</p>

            <button>Commander</button>
        {% endif %}
    </section>
{% endblock %}


