{% extends 'base.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4">S'inscrire</h2>
                        <form action="login_submit.php" method="post">
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Nom:</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" required>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Prénom:</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" required>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Adresse:</label>
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                            <div class="mb-3">
                                <label for="postalcode" class="form-label">Code Postal:</label>
                                <input type="text" class="form-control" id="postalcode" name="postalcode" required>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Numéro de téléphone:</label>
                                <input type="text" class="form-control" id="phone" name="phone" required>
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Adresse email:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mot de passe:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="passwordverify" class="form-label">Vérifier mot de passe:</label>
                                <input type="passwordverify" class="form-control" id="passwordverify" name="passwordverify" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Inscription</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
