body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #800000;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #555;
    color: #fff;
    padding: 0.5em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

.cart {
    background-color: #555;
    color: #fff;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto;
    max-height: 200px; /* Adjust the max height as needed */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

section {
    padding: 1em;
}

.product {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    background-color: #fff;
    text-align: center;
}
.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-icon {
    font-size: 2em;
    color: white;
}

.add-to-cart-btn {
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
