.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-icon {
    font-size: 2em;
    color: white;
}

.add-to-cart-btn {
    background-color: #800000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

